* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: blueviolet;
}

.container {
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;
  width: 700px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
}

.recipe-title {
  text-align: center;
  border-bottom: outset;
  border-width: 2px;
  width: 310px;
  margin-right: auto;
  margin-left: auto;
}

.recipe-image {
  width: 400px;
  height: 400px;
  display: block;
  border-style: dotted;
  border-radius: 10px;
  border-width: 1px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}

.description,.recipe-description {
  text-align: center;
}

.recipe-description {
  padding-left: 5px;
  padding-right: 5px;
}

.ingredients, .instructions {
  text-align: center;
}



.ingredients {
  padding-top: 10px;
  border-top: solid;
  border-width: 1px;
  border-radius: 50px;
}

.recipe-list {
  border-bottom: solid;
  border-width: 1px;
  border-radius: 50px;
  padding-bottom: 10px;
  line-height: 30px;
}

.recipe-steps {
  padding-bottom: 20px;
  line-height: 40px;
}