* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: blueviolet;
}

.container {
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;
  width: 950px;
  height: 450px;
  display: flex;
  justify-content: space-around;
  margin-top: 12%;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
}

.recipe-title {
  border-width: 2px;
  width: 310px;
  vertical-align: top;
  text-align: center;
  padding-left: 20px;
}


.recipe-image {
  width: 300px;
  height: 380px;
  border-radius: 10px;
  border-width: 1px;
  margin-top: 5px;
  object-fit: cover;
  display: flex;
  vertical-align: top;
}

.recipe-description {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  width: 400px;
  margin-bottom: 30px;
}

.recipe-description {
  padding-left: 5px;
  padding-right: 5px;
}

.view-recipe {
  padding: 20px 40px;
  font-size: 15px;
  background-color: blanchedalmond;
  color: black;
  border-style: solid;
  border-width: 1px;
}

.ingredients, .instructions {
  text-align: center;
}

.ingredients {
  padding-top: 10px;
  border-top: solid;
  border-width: 1px;
  border-radius: 50px;
}

.recipe-list {
  border-bottom: solid;
  border-width: 1px;
  border-radius: 50px;
  padding-bottom: 10px;
  line-height: 30px;
}

.recipe-steps {
  padding-bottom: 20px;
  line-height: 40px;
}